[package]
name = "gitui"
version = "0.1.3"
authors = ["Stephan Dilly <dilly.stephan@gmail.com>"]
description = "blazing fast terminal-ui for git"
edition = "2018"
exclude = ["assets/*"]
homepage = "https://github.com/extrawurst/gitui"
readme = "README.md"
license = "MIT"
categories = ["command-line-utilities"]
keywords = [
	"git",
    "gui",
	"cli",
	"terminal",
    "ui",
]

[dependencies]
crossterm = "0.16"
tui = { version = "0.8", default-features=false, features = ['crossterm'] }
itertools = "0.9"
rayon-core = "1.7"
log = "0.4"
simplelog = { version = "0.7", default-features=false }
dirs = "2.0"
crossbeam-channel = "0.4"
scopeguard = "1.1"
backtrace = { version = "0.3" }
scopetime = { path = "./scopetime", version = "0.1" }
asyncgit = { path = "./asyncgit", version = "0.1" }

[features]
default=[]
timing=["scopetime/enabled"]

[workspace]
members=[
    "asyncgit",
    "scopetime",
]