(
selected_tab: Color::Reset,
command_fg: Color::Red,
selection_bg: Color::Red,
selection_fg: Color::Reset,
cmdbar_bg: Color::Reset,
cmdbar_extra_lines_bg: Color::Reset,
disabled_fg: Color::DarkGray,
diff_line_add: Color::Green,
diff_line_delete: Color::Red,
diff_file_added: Color::LightGreen,
diff_file_removed: Color::LightRed,
diff_file_moved: Color::LightMagenta,
diff_file_modified: Color::Yellow,
commit_hash: Color::Magenta,
commit_time: Color::LightCyan,
commit_author: Color::Green,
danger_fg: Color::Red,
push_gauge_bg: Color::Reset,
push_gauge_fg: Color::Reset,
tag_fg: Color::LightMagenta,
branch_fg: Color::LightYellow,
line_break: "¶".to_string(),
)
