(
    selected_tab: Yellow,
    command_background: Rgb(0,0,100),
    command_disabled: Gray,
    diff_line_add: Green,
    diff_line_delete: Red,
    diff_file_added: LightGreen,
    diff_file_removed: LightRed,
    diff_file_moved: LightMagenta,
    diff_file_modified: Yellow,
    table_colors: (Magenta, Blue, Green),
)