(
    enter: "Enter",
    left: "◀",
    right: "▶",
    up: "▲",
    down: "▼",
    backspace: "Back",
    home: "Home",
    end: "End",
    page_up: "PgUp",
    page_down: "PgDn",
    tab: "Tab",
    back_tab: "Shft-Tb",
    delete: "Del",
    insert: "Ins",
    esc: "Esc",
    control: "Ctrl-",
    shift: "Shift-",
    alt: "Alt-",
)