(
    tab_status: (
        code: Char('1'),
        modifiers: (
            bits: 0,
        ),
    ),
    tab_log: (
        code: Char('2'),
        modifiers: (
            bits: 0,
        ),
    ),
    tab_stashing: (
        code: Char('3'),
        modifiers: (
            bits: 0,
        ),
    ),
    tab_stashes: (
        code: Char('4'),
        modifiers: (
            bits: 0,
        ),
    ),
    tab_toggle: (
        code: Tab,
        modifiers: (
            bits: 0,
        ),
    ),
    tab_toggle_reverse: (
        code: BackTab,
        modifiers: (
            bits: 1,
        ),
    ),
    focus_workdir: (
        code: Char('w'),
        modifiers: (
            bits: 0,
        ),
    ),
    focus_stage: (
        code: Char('s'),
        modifiers: (
            bits: 0,
        ),
    ),
    focus_right: (
        code: Right,
        modifiers: (
            bits: 0,
        ),
    ),
    focus_left: (
        code: Left,
        modifiers: (
            bits: 0,
        ),
    ),
    focus_above: (
        code: Up,
        modifiers: (
            bits: 0,
        ),
    ),
    focus_below: (
        code: Down,
        modifiers: (
            bits: 0,
        ),
    ),
    exit: (
        code: Char('c'),
        modifiers: (
            bits: 2,
        ),
    ),
    exit_popup: (
        code: Esc,
        modifiers: (
            bits: 0,
        ),
    ),
    open_commit: (
        code: Char('c'),
        modifiers: (
            bits: 0,
        ),
    ),
    open_commit_editor: (
        code: Char('e'),
        modifiers: (
            bits: 2,
        ),
    ),
    open_help: (
        code: Char('h'),
        modifiers: (
            bits: 0,
        ),
    ),
    move_left: (
        code: Left,
        modifiers: (
            bits: 0,
        ),
    ),
    move_right: (
        code: Right,
        modifiers: (
            bits: 0,
        ),
    ),
    home: (
        code: Home,
        modifiers: (
            bits: 0,
        ),
    ),
    end: (
        code: End,
        modifiers: (
            bits: 0,
        ),
    ),
    move_up: (
        code: Up,
        modifiers: (
            bits: 0,
        ),
    ),
    move_down: (
        code: Down,
        modifiers: (
            bits: 0,
        ),
    ),
    page_down: (
        code: PageDown,
        modifiers: (
            bits: 0,
        ),
    ),
    page_up: (
        code: PageUp,
        modifiers: (
            bits: 0,
        ),
    ),
    shift_up: (
        code: Up,
        modifiers: (
            bits: 1,
        ),
    ),
    shift_down: (
        code: Down,
        modifiers: (
            bits: 1,
        ),
    ),
    enter: (
        code: Enter,
        modifiers: (
            bits: 0,
        ),
    ),
    edit_file: (
        code: Char('e'),
        modifiers: (
            bits: 0,
        ),
    ),
    status_stage_all: (
        code: Char('a'),
        modifiers: (
            bits: 0,
        ),
    ),
    status_reset_item: (
        code: Char('D'),
        modifiers: (
            bits: 1,
        ),
    ),
    status_reset_lines: (
        code: Char('d'),
        modifiers: (
            bits: 0,
        ),
    ),
    status_ignore_file: (
        code: Char('i'),
        modifiers: (
            bits: 0,
        ),
    ),
    stashing_save: (
        code: Char('s'),
        modifiers: (
            bits: 0,
        ),
    ),
    stashing_toggle_untracked: (
        code: Char('u'),
        modifiers: (
            bits: 0,
        ),
    ),
    stashing_toggle_index: (
        code: Char('i'),
        modifiers: (
            bits: 0,
        ),
    ),
    stash_open: (
        code: Right,
        modifiers: (
            bits: 0,
        ),
    ),
    stash_drop: (
        code: Char('D'),
        modifiers: (
            bits: 1,
        ),
    ),
    cmd_bar_toggle: (
        code: Char('.'),
        modifiers: (
            bits: 0,
        ),
    ),
    log_tag_commit: (
        code: Char('t'),
        modifiers: (
            bits: 0,
        ),
    ),
    commit_amend: (
        code: Char('a'),
        modifiers: (
            bits: 2,
        ),
    ),
    copy: (
        code: Char('y'),
        modifiers: (
            bits: 0,
        ),
    ),
    create_branch: (
        code: Char('c'),
        modifiers: (
            bits: 0,
        ),
    ),
    rename_branch: (
        code: Char('r'),
        modifiers: (
            bits: 0,
        ),
    ),
    select_branch: (
        code: Char('b'),
        modifiers: (
            bits: 0,
        ),
    ),
    delete_branch: (
        code: Char('D'),
        modifiers: (
            bits: 1,
        ),
    ),
    push: (
        code: Char('p'),
        modifiers: (
            bits: 0,
        ),
    ),
    force_push: (
        code: Char('P'),
        modifiers: (
            bits: 1,
        ),
    ),
    pull: (
        code: Char('f'),
        modifiers: (
            bits: 0,
        ),
    ),

    enter_symbol: "ENTER",
    left_symbol: "◀",
    right_symbol: "▶",
    up_symbol: "▲",
    down_symbol: "▼",
    backspace_symbol: "BACK",
    home_symbol: "HOME",
    end_symbol: "END",
    page_up_symbol: "PgUp",
    page_down_symbol: "PgDn",
    tab_symbol: "TAB",
    back_tab_symbol: "SHFT-TB",
    delete_symbol: "DEL",
    insert_symbol: "INS",
    esc_symbol: "ESC",
    control_symbol: "CTRL-",
    shift_symbol: "SHIFT-",
    alt_symbol: "ALT-",
)