(
    enter_symbol: "ENTER",
    left_symbol: "◀",
    right_symbol: "▶",
    up_symbol: "▲",
    down_symbol: "▼",
    backspace_symbol: "BACK",
    home_symbol: "HOME",
    end_symbol: "END",
    page_up_symbol: "PgUp",
    page_down_symbol: "PgDn",
    tab_symbol: "TAB",
    back_tab_symbol: "SHFT-TB",
    delete_symbol: "DEL",
    insert_symbol: "INS",
    esc_symbol: "ESC",
    control_symbol: "CTRL-",
    shift_symbol: "SHIFT-",
    alt_symbol: "ALT-",
)