name: CI

on:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        rust: [stable]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Build Debug
      run: cargo build
    - name: Run tests
      run: make test
    - name: Run clippy
      run: make clippy
    - name: Build Release
      run: make build-release
    - name: Build Win Test Release
      if: matrix.os == 'windows-latest'
      run: make release-win

  build-linux-musl:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup MUSL
      run: |
        rustup target add x86_64-unknown-linux-musl
        sudo apt-get -qq install musl-tools
    - name: Build Debug
      run: cargo build --target=x86_64-unknown-linux-musl
    - name: Build Release
      run: |
        cargo build --release --target=x86_64-unknown-linux-musl

  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install Rust
      run: rustup update stable && rustup default stable && rustup component add rustfmt
    - run: cargo fmt -- --check

  sec:
    name: Security audit
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/audit-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
